body {
    font-family: Arial, sans-serif;

}
.navbar {
    background-color: #226cbc;
    text-decoration: white;
    color: rgb(255, 255, 255);
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar ul li {
    float: left;
}
.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar ul li a:hover {
    background-color: #3425a4;
    color: aliceblue;
}
@media screen and (max-width: 600px) {
    nav ul li {
        float: none;
    }
}
