{% extends 'layouts/base2.html' %}
{% load static %}
{% block content %}
</head>

<body class="img js-fullheight" style="background-image: url({% static 'img/bg.jpg' %});"></body>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Iniciar Sesion</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          {% if form.errors %}
          <p style="color: red;">Credenciales inválidas</p>
          {% endif %}
          <!-- <form action="#" class="signin-form">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre de usuario" name="username" required>
                  </div>
            <div class="form-group">
                <input id="password-field" type="password" class="form-control" placeholder="Contraseña" name="password" required>
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3">Iniciar sesion</button>
            </div>
            <div class="form-group d-md-flex">
                <div class="w-50">
                    <a  class="checkbox-wrap" href="register.html" target="_blank" rel="noopener noreferrer">Registrarse</a>		
                            </div>
                            <div class="w-50 text-md-right">
                                <a href="#" style="color: #fff">Recuperar Contraseña</a>
                            </div>
            </div>
          </form> -->
          <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}

            {{ form.as_p }}
            <br>
            <button type="submit">Iniciar Sesión</button>
          </form>
          <p class="w-100 text-center">&mdash; O inicie sesion con &mdash;</p>
          <div class="social d-flex text-center">
            <a href="" class="g-signin2" data-onsuccess="onSignIn"><span class="ion-logo-google mr-2"></span> Google</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}