{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/locales/es.js'></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- INICIO CALENDARIO -->
<style>
    /* Estilos para el calendario */
    #calendar {
        width: 600px;
        /* Ajusta el ancho del calendario */
        margin: 0 auto;
        /* Centra el calendario horizontalmente */
    }

    /* Estilos para la tabla */
    .table {
        width: 600px;
        /* Ajusta el ancho de la tabla */
        margin: 0 auto;
        /* Centra la tabla horizontalmente */
    }
</style>
<div class="container mt-5">
    <h1 class="mb-4">Calendario de Eventos</h1>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'es',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: function (fetchInfo, successCallback, failureCallback) {
                    // Obtener eventos de la API de Google Calendar
                    // ... 
                    // Ejemplo de eventos:
                    var eventos = [
                        { title: 'Taller de programación', start: '2023-10-26', end: '2023-10-27', color: 'blue' },
                        { title: 'Reunión de equipo', start: '2023-10-28', color: 'green' }
                    ];
                    successCallback(eventos);
                },
                dateClick: function (info) {
                    // Obtener la fecha del día que se ha hecho clic
                    var fecha = info.dateStr;
                    // Buscar eventos en la fecha seleccionada
                    var eventosDelDia = calendar.getEvents().filter(evento => evento.startStr === fecha);
                    if (eventosDelDia.length > 0) {
                        // Mostrar la información del día seleccionado y el nombre del taller
                        var nombresTalleres = eventosDelDia.map(evento => evento.title).join(', ');
                        alert("El día: " + fecha + " | Tienes un taller de: " + nombresTalleres);
                    } else {
                        // No hay talleres en la fecha seleccionada
                        alert("El día: " + fecha + " | No tienes talleres.");
                    }
                }
            });
            calendar.render();
        });
    </script>
</div>
<div id="calendar"></div>
<!-- FIN CALENDARIO -->
<div class="container mt-5">
    <h1 class="mb-4">Horarios Talleres</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Taller</th>
                <th>Fecha Inicio</th>
                <th>Fecha Termino</th>
                <th>Dias</th>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
            </tr>
        </thead>
        <tbody>
            {% for taller in talleres %}
            <tr>
                <td>{{ taller.nombre }}</td>
                <td>{{ taller.fecha_inicio|date:"d/m/Y" }}</td>
                <td>{{ taller.fecha_fin|date:"d/m/Y" }}</td>
                <td>{{ taller.dias }}</td>
                <td>{{ taller.hora_inicio }}</td>
                <td>{{ taller.hora_fin }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>



<div class="mt-4 p-1 bg-dark text-white rounded"></div>
<div class="container mt-5">
    <h2 class="mt-5">Inscripción en Talleres</h2>
    <form id="registrationForm" method="POST" action="{% url 'registrar_taller' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="{{user.username}}" disabled>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="mb-3">
                <label for="workshop" class="form-label">Taller</label>
                <select class="form-select" id="workshop" name="workshop" required>
                    <option value="">Seleccione un taller</option>
                    {% for taller in talleres %}
                    <option value="{{ taller.id }}">{{ taller.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <script>
                document.getElementById('registrationForm').addEventListener('submit', function (event) {
                    var tallerSelect = document.getElementById('workshop');
                    if (tallerSelect.value === "") { // Check if the value is empty
                        event.preventDefault(); // Prevent form submission
                        alert("You must select a workshop.");
                    } else {
                        // If the value is not empty, try to convert it to an integer
                        var tallerId = parseInt(tallerSelect.value);
                        if (isNaN(tallerId)) {
                            alert("You must select a workshop.");
                            alert("You must select a workshop.");
                        }
                    }
                });
            </script>

            {% if user.is_authenticated %}
            <button type="submit" class="btn btn-primary">Inscribirse</button>
            {% else %}
            <button type="submit" class="btn btn-primary" disabled>Inscribirse</button>
            {% endif %}
    </form>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet">
</div>
{% endblock %}