{% extends 'core/layout/base.html' %}
{% load static %}
{% block title %} - About{% endblock %}
{% block contenido %}
{% include 'core/includes/breadcrumb.html' %}

<!-- INICIO DE SECCION DE ASESORIA Y CONSULTAS -->
<section class="container mt-5">
    <h2 class="text-center">Asesoría y Consultas</h2>
    <p class="mt-4">
        Ofrecemos servicios de asesoría y consultas personalizadas para ayudarte a resolver tus dudas y mejorar tus habilidades. 
        Nuestro equipo de expertos está disponible para brindarte el apoyo que necesitas en diversas áreas.
    </p>
    <p>
        Para acceder a nuestros servicios de asesoría y consultas, por favor sigue los siguientes pasos:
    </p>
    <ul>
        <li>Visita nuestra página de <a href="{% url 'contactos' %}">Contactos</a> y completa el formulario con tus datos y la consulta que deseas realizar.</li>
        <li>Nos pondremos en contacto contigo para agendar una cita personalizada.</li>
        <li>Recibirás asesoría de parte de nuestros expertos en el área que necesites.</li>
    </ul>
    <p>
        No dudes en contactarnos para cualquier consulta adicional. Estamos aquí para ayudarte.
    </p>
</section>
<!-- FIN DE SECCION DE ASESORIA Y CONSULTAS -->
<div class="mt-4 p-1 bg-dark text-white rounded"></div>
<!-- INICIO DE SECCION DE RECURSOS MATERIALES -->
<section class="container mt-5 recursos_materiales">
    <h2 class="text-center">Recursos Materiales</h2>
    <p class="mt-4">
        Aquí encontrarás una variedad de recursos materiales que puedes descargar para tu uso personal. Estos incluyen documentos PDF, Word, Excel, y videos.
    </p>
    
    <div class="text-center mt-4">
        <a href="https://drive.google.com/drive/u/2/folders/1vlU3Tba3SYHy1YBNJgu69EChIuAcW8Td" target="_blank" class="btn btn-primary">
            Acceder a Google Drive
        </a>
    </div>
</section>
<!-- FIN DE SECCION DE RECURSOS MATERIALES -->

<!--SEPARACIÓN-->
<div class="p-1 bg-dark text-white text-center"></div>
<!--SEPARACIÓN-->

<!-- Team Section Begin -->
<section class="team spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title team-title">
                    <span>Nuestro Team</span>
                    <h2>Instructores</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for aux in instructores %}
            <div class="col-lg-3 col-sm-6">
                <div class="team__item">
                    <div class="team__item__pic">
                        <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="" style="width: 100%; height: 293px;">
                    </div>
                    <div class="team__item__text">
                        <h5>{{aux.nombre}}</h5>
                        <span>Especialidad: {{aux.especialidad}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Team Section End -->


<!-- Clients End -->
{% endblock %}