{% extends 'core/layout/base.html' %}
{% load static %}
{% block contenido %}
{% include 'core/includes/breadcrumb.html' %}
<!-- Car Section Begin -->
<section class="car spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="car__sidebar">
                    <div class="car__search">
                        <h5>Buscar Taller</h5>
                        <form method="GET">
                            {% csrf_token %}
                            <input type="text" name="buscar" value="{{ request.GET.buscar }}" placeholder="Buscar...">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div>
                        <form action="#">
                            <div class="car__filter__btn">
                                <button type="submit" class="site-btn">Resetear Búsqueda</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                {% include 'core/includes/paginator.html' %}
                <div class="row">
                    {% for aux in page_obj %}
                    <div class="col-lg-4 col-md-4">
                        <div class="car__item">
                            <div class="car__item__pic__slider owl-carousel">
                                <img src="https://th.bing.com/th/id/OIP.H1gHhKVbteqm1U5SrwpPgwAAAA?rs=1&pid=ImgDetMain"
                                    alt="" width="300" height="200">
                            </div>
                            <div class="car__item__text">
                                <div class="car__item__text__inner" style="width: 214px; height: auto;" >
                                    <h5 style="width: 194px; height: auto;" >{{ aux.nombre }}</h5>
                                    <p>{{aux.descripcion}}</p>
                                    <ul>
                                        <li style="text-align: center; color: aqua;">Instructor: {{ aux.instructor_id.nombre }}</li>
                                        <li style="text-align: center;">Dia: {{ aux.dia }}</li>
                                        <li style="text-align: initial;">Hora Inicio: {{ aux.hora_inicio }}</li>
                                        <li style="text-align: initial;">Hora Termino: {{ aux.hora_fin }}</li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-lg-12">
                        <p>No hay talleres disponibles.</p>
                    </div>
                    {% endfor %}
                </div>
                {% include 'core/includes/paginator.html' %}
            </div>
            {% if perms.core.add_inscripcion_taller %}
            <div style="text-align: center;"></div>
                <div style="text-align: center;"></div>
                    <div style="text-align: center;"></div>
                        <button class="btn btn-success" style="width: auto; margin: 5px;">
                            <a href="{% url 'add_taller' %}" style="text-decoration: none; color: aliceblue;">Agregar Talleres</a>
                        </button>
                        {% endif %}
                        <button class="btn btn-primary" style="width: auto; margin: 5px;">
                            <a style="text-decoration: none; color: aliceblue;" href="{% url 'inscripcion_taller' %}">Inscribirme</a>
                        </button>
                    </div>
                </div>
            </div>

        </div>
</section>
<!-- Car Section End -->
{% endblock %}