{% extends 'core/layout/base.html' %}
{% load static %}
{% block contenido %}

<h1>Mi Perfil</h1>
<div class="profile-container">
  <div class="profile-info">
    <p><strong>Nombre de usuario:</strong> {{ user.username }}</p>
    <p><strong>Correo electrónico:</strong> {{ user.email }}</p>
    <!-- Puedes agregar más información del perfil del usuario, por ejemplo, nombre completo, avatar, etc. -->
  </div>
  <div class="workshop-info">

    <h2>Taller Inscrito</h2>
    <p><strong>Nombre del Taller:</strong> {{ aux.nombre }}</p>
    <p><strong>Descripción:</strong> {{ workshop.description }}</p>
    <p><strong>Fecha de Inicio:</strong> {{ workshop.start_date }}</p>
    <p><strong>Fecha de Fin:</strong> {{ workshop.end_date }}</p>
  </div>

</div>

<style>
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .profile-info, .workshop-info {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .profile-info p, .workshop-info p {
    margin: 10px 0;
  }
  .profile-info strong, .workshop-info strong {
    color: #333;
  }
</style>

{% endblock %}